
/* GalleriaAdvancedDemo.css */

.imageInfo {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, .5);
    color: #ffffff;
    width: 100%;
    gap: 20%;
}

.gallery .p-dialog{
    padding: 0;
    margin: 0%;
}


.imageGallery .p-dialog-header {
    padding: 0 !important;
    position: absolute !important;
    top: 0 !important;
    right: 0 !important;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0) !important;
}


.imageInfo > button {
    background-color: transparent;
    color: #ffffff;
    border: 0 none;
    border-radius: 0;
    margin: .2rem 0;

}


.imageInfo > button:hover {
    background-color: rgba(255, 255, 255, 0.4);

}

.fullscreen-button {
    margin-right: auto;
}


.indicator-text {
    color: #e9ecef;
    cursor: pointer;
}
.indicator-text {
    color: var(--primary-color);
}


.custom-galleria .fullscreen{

    display: flex;
    flex-direction: column;
}


.custom-galleria .fullscreen .p-galleria-content{

    flex-grow: 1;
    justify-content: center;
}


.title-container {
    min-width: 18em !important;
}




.title-container > span {
    font-size: .9rem;
    padding-left: .829rem;

}


.title-container .title {
    font-weight: bold;
}

    