.mainContent {
  float:right;
  width: 85%;
  
  text-align: center;
  align-items: center;
  justify-content: center;

}

html {
  font-size: 0.75em;
  background-color: #121212;
  color: white;
}

.navigation {
  float:left; 
  width: 15%;
  height: 100%;
  outline: 5px solid black;
  position:fixed;
  z-index: 1;
  padding: 1%;
}

.filterSlider{
  margin-bottom: 20%;
  margin-top: 10%;
}

.filterSlider h4{
  text-align: center;
  margin-left: 5%;
}

.filterCheckbox {
  display: flex;
  align-items: center; /* Align vertical */
  gap: 2%;
}

.p-checkbox{
  margin-right: 5%;
}

.imageGallery .p-dialog-content{
  padding: 0 !important;
}

.imageGallery .p-galleria-item-container{
  position: relative !important ;
}


.imageWrapper{
  position: relative;
}

.imageInfo{
  position: absolute;
  bottom: 0;
}

.filterContainer{
  padding-top: 2%;
  margin-top: 2%;
  cursor: pointer;
}

.p-button-text{
  font-size: smaller;
}

.buttonContainer{
  display: flex;
  gap: 0.5em;
  flex-direction: column;
  column-gap: 5%;
  margin-top: 5%;
  text-align: center;
  justify-content: center;
  
}


.product-badge {
  border-radius: 2px;
  padding: .25em .5rem;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 12px;
  letter-spacing: .3px;
}

.product-badge.status-warning {
  background: #FFCDD2;
  color: #C63737;
}

.sideBarContent{
  margin-left: 5%;
}

.main {
  width: 100%;
  margin: 0;
  
}
